*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

h1{
    font-size: 9vmin;
    color: #E6E6EA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #D64933;
    background-color: #92DCE5;
}

#reset-btn{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    background-color: rgba(1, 15, 12, 0.842);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #fff;
}

#new-game{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    background-color: rgba(1, 15, 12, 0.842);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #fff;
}

#msg{
    color:#E6E6EA;
    font-size: 5vmin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: .5rem;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

#info{
    color:#E6E6EA;
    font-size: 8vmin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: .5rem;
}